# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#MyOwn
*.html
*.xml
*.iml
*.txt
*.js
*.css
*.png
term4/OS/Find/cmake-build-ebug
term4/OS/Jit/cmake-build-ebug
*.in
term4/Algo/Labs/MinCost/D/src/P1.java
term4/Algo/Labs/MinCost/D/src/P2.java
*.cbp
*.cmake
*.bin
term4/Algo/Labs/gcd/A/cmake-build-debug
*.internal
*.make
*.rsp
*.check_cache
*.cxx
*.marks
term4/Algo/Labs/gcd/B/cmake-build-debug
term4/Algo/Labs/MinCost/A/src/Main.java
term4/Algo/Labs/MinCost/C++/.idea/.name
term4/Algo/Labs/MinCost/D++/cmake-build-debug
*.includecache
term4/Algo/Labs/MinCost/D++/.idea/.name
term4/Algo/Labs/MinCost/C/src/Test.java
term4/Algo/Labs/MinCost/C/src/Solve.java
term4/Algo/Labs/MinCost/C/src/Simple.java
term4/Algo/Labs/MinCost/C/src/other/Main.java
term4/dm/mt/a/cmake-build-debug

term4/dm/mt/b/cmake-build-debug

term4/dm/mt/c/cmake-build-debug
